<!DOCTYPE html>

<title>Canyons</title>

{% block body %}
    <h1>Canyons</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Bounds</th>
                <td>{{ canyon.bounds }}</td>
            </tr>
            <tr>
                <th>Cotationverticale</th>
                <td>{{ canyon.cotationverticale }}</td>
            </tr>
            <tr>
                <th>Cotationaquatique</th>
                <td>{{ canyon.cotationaquatique }}</td>
            </tr>
            <tr>
                <th>Cotationengagement</th>
                <td>{{ canyon.cotationengagement }}</td>
            </tr>
            <tr>
                <th>Approchetime</th>
                <td>{{ canyon.approchetime }}</td>
            </tr>
            <tr>
                <th>Retourtime</th>
                <td>{{ canyon.retourtime }}</td>
            </tr>
            <tr>
                <th>Descentetime</th>
                <td>{{ canyon.descentetime }}</td>
            </tr>
            <tr>
                <th>Cascademax</th>
                <td>{{ canyon.cascademax }}</td>
            </tr>
            <tr>
                <th>Corde</th>
                <td>{{ canyon.corde }}</td>
            </tr>
            <tr>
                <th>Altitudedepart</th>
                <td>{{ canyon.altitudedepart }}</td>
            </tr>
            <tr>
                <th>Denivele</th>
                <td>{{ canyon.denivele }}</td>
            </tr>
            <tr>
                <th>Longueur</th>
                <td>{{ canyon.longueur }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ canyon.note }}</td>
            </tr>
            <tr>
                <th>Qualiteeau</th>
                <td>{{ canyon.qualiteeau }}</td>
            </tr>
            <tr>
                <th>Frequentation</th>
                <td>{{ canyon.frequentation }}</td>
            </tr>
            <tr>
                <th>Traceign</th>
                <td>{{ canyon.traceign }}</td>
            </tr>
            <tr>
                <th>Latitudeend</th>
                <td>{{ canyon.latitudeend }}</td>
            </tr>
            <tr>
                <th>Longitudeend</th>
                <td>{{ canyon.longitudeend }}</td>
            </tr>
            <tr>
                <th>Approchegeojson</th>
                <td>{{ canyon.approchegeojson }}</td>
            </tr>
            <tr>
                <th>Descentegeojson</th>
                <td>{{ canyon.descentegeojson }}</td>
            </tr>
            <tr>
                <th>Retourgeojson</th>
                <td>{{ canyon.retourgeojson }}</td>
            </tr>
            <tr>
                <th>Idrepname</th>
                <td>{{ canyon.idrepname }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ canyon.actif }}</td>
            </tr>
            <tr>
                <th>Table</th>
                <td>{{ canyon.table }}</td>
            </tr>
            <tr>
                <th>TitleFr</th>
                <td>{{ canyon.titleFr }}</td>
            </tr>
            <tr>
                <th>TitleEn</th>
                <td>{{ canyon.titleEn }}</td>
            </tr>
            <tr>
                <th>Shorttitle</th>
                <td>{{ canyon.shorttitle }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ canyon.region }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ canyon.department }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ canyon.city }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ canyon.type }}</td>
            </tr>
            <tr>
                <th>Soustype</th>
                <td>{{ canyon.soustype }}</td>
            </tr>
            <tr>
                <th>Macaron</th>
                <td>{{ canyon.macaron }}</td>
            </tr>
            <tr>
                <th>Promo_fr</th>
                <td>{{ canyon.promoFr }}</td>
            </tr>
            <tr>
                <th>Promo_en</th>
                <td>{{ canyon.promoEn }}</td>
            </tr>
            <tr>
                <th>Mountains</th>
                <td>{{ canyon.mountains }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ canyon.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ canyon.latitude }}</td>
            </tr>
            <tr>
                <th>Longituderouting</th>
                <td>{{ canyon.longituderouting }}</td>
            </tr>
            <tr>
                <th>Latituderouting</th>
                <td>{{ canyon.latituderouting }}</td>
            </tr>
            <tr>
                <th>Smallnodewalk</th>
                <td>{{ canyon.smallnodewalk }}</td>
            </tr>
            <tr>
                <th>Smallnodecar</th>
                <td>{{ canyon.smallnodecar }}</td>
            </tr>
            <tr>
                <th>Fullnodewalk</th>
                <td>{{ canyon.fullnodewalk }}</td>
            </tr>
            <tr>
                <th>Fullnodecar</th>
                <td>{{ canyon.fullnodecar }}</td>
            </tr>
            <tr>
                <th>Costwalk</th>
                <td>{{ canyon.costwalk }}</td>
            </tr>
            <tr>
                <th>Costcar</th>
                <td>{{ canyon.costcar }}</td>
            </tr>
            <tr>
                <th>Closecity</th>
                <td>{{ canyon.closecity }}</td>
            </tr>
            <tr>
                <th>Pied</th>
                <td>{{ canyon.pied }}</td>
            </tr>
            <tr>
                <th>Velo</th>
                <td>{{ canyon.velo }}</td>
            </tr>
            <tr>
                <th>Moto</th>
                <td>{{ canyon.moto }}</td>
            </tr>
            <tr>
                <th>Auto</th>
                <td>{{ canyon.auto }}</td>
            </tr>
            <tr>
                <th>Bus</th>
                <td>{{ canyon.bus }}</td>
            </tr>
            <tr>
                <th>ResumeFr</th>
                <td>{{ canyon.resumeFr }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ canyon.link }}</td>
            </tr>
            <tr>
                <th>TransportFr</th>
                <td>{{ canyon.transportFr }}</td>
            </tr>
            <tr>
                <th>TransportEn</th>
                <td>{{ canyon.transportEn }}</td>
            </tr>
            <tr>
                <th>TransportBonus</th>
                <td>{{ canyon.transportBonus }}</td>
            </tr>
            <tr>
                <th>InfosFr</th>
                <td>{{ canyon.infosFr }}</td>
            </tr>
            <tr>
                <th>InfosEn</th>
                <td>{{ canyon.infosEn }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ canyon.mail }}</td>
            </tr>
            <tr>
                <th>Mainimage</th>
                <td>{{ canyon.mainimage }}</td>
            </tr>
            <tr>
                <th>TextFr</th>
                <td>{{ canyon.textFr }}</td>
            </tr>
            <tr>
                <th>TextEn</th>
                <td>{{ canyon.textEn }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('canyons_index') }}">back to list</a>

    <a href="{{ path('canyons_edit', {'idrepname': canyon.idrepname}) }}">edit</a>

    {{ include('canyons/_delete_form.html.twig') }}
{% endblock %}
